/*header{
    background:red;
}*/
body{
    margin:0;
    padding:0;
}
/*body{
    margin:10%;
    border:1px solid block;
    margin-top: 10px;*/
body{
    max-width: 600px;
    width:100%;
    margin:auto;
}

header{
    border-bottom: 1px solid gray;
    padding:10px
}
nav{
    padding:10px;
    border-bottom: 1px solid green;
}
h{
    margin:20px;
}
nav span{
    margin-left: 10px;
}
nav span:first-child{
    border-bottom: 2px solid gray
    
}
.image-container{
    float:right;
    margin:20px;
}
.content{
    padding:20px
}
.content p{
    margin-bottom: 20px;
}